---
layout: default
---
<h1 class="visually-hidden">Home</h1>
<!--hero-->
<div class="container-xxl mb-5 px-sm-4">
	<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border bg-white shadow-lg">
		<div class="col-lg-6">
			<h2 class="display-2 mt-0">Meer inzicht, minder werk</h2>
			<p class="lead">Tientallen websites in de lucht en onvoldoende inzicht in eigenaarschap, prestaties, toegankelijkheid en kosten.</p>
			<p class="lead">Een herkenbaar probleem waar veel organisaties mee worstelen. DIP helpt je deze, en nog veel meer, kenmerken van al jullie websites te verhelderen.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start my-5 align-items-center">
				<a href="{{ "probeerdip.html" | relative_url }}" type="button" class="btn btn-primary">Probeer DIP nu gratis</a>
				<a href="{{ "plan-demo.html" | relative_url }}">of plan een online demo</a>
			</div>
		</div>
		<div class="col-lg-5 offset-lg-1 pb-3 overflow-hidden">
			<img class="mx-auto d-block" src="{{ "/assets/images/dashboard_monitor_full.png" | relative_url }}" alt="" width="720">
		</div>
	</div>
</div>
<!--wat doet dip voor jou-->
<a id="watdoetdip"></a>
<div class="container-fluid mx-0 mb-5 bg-white">
	<div class="container-xxl px-4 py-5">
		<div class="row">
			<h2 class="display-4 text-center">Wat doet DIP voor jou?</h2>
		</div>
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="{{ "/assets/images/digital-governance.png" | relative_url }}" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h3 class="display-6 fw-bold mb-3">Helpt jou bij jouw digital governance</h3>
				<p>Met DIP breng je bijvoorbeeld in kaart:</p>
				<ul>
					<li>Hoe groot je online landschap is; hoeveel websites, pagina’s</li>
					<li>Wie waarvoor verantwoordelijk is</li>
					<li>Wanneer contracttermijnen bij leveranciers verlopen</li>
					<li>Wat websites op jaarbasis kosten</li>
				</ul>
			</div>
		</div>
		<div class="row align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="{{ "/assets/images/compliance.png" | relative_url }}" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h3 class="display-6 fw-bold mb-3">Maakt compliance inzichtelijk</h3>
				<p>DIP maakt inzichtelijk in hoeverre je duidelijk hebt of al je websites voldoen aan wet- en regelgeving:</p>
				<ul>
					<li>Archivering</li>
					<li>Toegankelijkheid</li>
					<li>Privacy</li>
					<li>Beveiliging</li>
				</ul>
			</div>
		</div>
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="{{ "/assets/images/hourglass.png" | relative_url }}" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h3 class="display-6 fw-bold mb-3">Bespaart je enorm veel tijd</h3>
				<p>Het lukt niet altijd om structureel alle controles te doen die nodig zijn. De tijd ontbreekt simpelweg. DIP controleert automatisch en laat jou weten waar je aan de slag moet. Anticiperen en snel reageren in plaats van achter de feiten aanlopen.</p>
			</div>
		</div>
	</div>
</div>
<!--hoe werkt het? -->
<a id="hoe"></a>
<div class="container-xxl mb-5 px-sm-4">
	<div class="row p-5 align-items-center rounded-3 border bg-white shadow-lg">
	<h2 class="display-4 text-center">Zo werkt DIP</h2>
	<div class="row featurette">
		<div class="col-12 col-md-8">
			<h3 class="font-weight-bold">1. Websites toevoegen.</h3>
			<p>Na het toevoegen van een URL start DIP een aantal automatische scans. De eerste resultaten rollen al in enkele seconden binnen, waardoor je weet hoe de website presteert.</p>
		</div>
		<div class="col-12 col-md-4">
			<img src="{{ "/assets/images/dip_add_website.png" | relative_url }}" class="img-fluid shadow" alt="Voorbeeld van hoe je een website toevoegt in DIP">
		</div>
	</div>
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-12 col-md-8">
			<h3 class="font-weight-bold">2. Maak het beeld compleet. Jij hebt de kennis.</h3>
			<p>Na de scans ben je zelf aan de beurt. Je vult in wat DIP nog niet weet, bijvoorbeeld:</p>
			<ul>
				<li>wat het doel van de site is</li>
				<li>wie binnen je organisatie de eigenaar is</li>
				<li>welke systemen jullie gebruiken en waar ze gehost worden</li>
				<li>hoe de website aanbesteed is</li>
				<li>wat de jaarlijkse kosten zijn</li>
				<li>welke collega's of andere organisaties (leveranciers, ketenpartners) bij de site betrokken zijn</li>
			</ul>
			<p>Hoe completer het beeld, hoe beter jij je organisatie op tijd kunt adviseren.</p>
		</div>
		<div class="col-12 col-md-4">
			<img src="{{ "/assets/images/dip_site_view_zoom.png" | relative_url }}" class="img-fluid shadow" alt="Site pagina in DIP met alle metrics">
		</div>
	</div>
	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-12 col-md-8">
			<h3 class="font-weight-bold">3. Werk aan de winkel! DIP weet waar.</h3>
			<p>Het DIP-dashboard laat in één oogopslag zien wat jouw aandacht verdient.</p>
		</div>
		<div class="col-12 col-md-4">
			<img src="{{ "/assets/images/dip_dashboard_detail.png" | relative_url }}" class="img-fluid shadow" alt="detailweergave van het dashboard, specifiek het onderwerp beveiliging">
		</div>
	</div>
	</div>
</div>
<!--features2-->
<a id="functionaliteiten"></a>
<div class="container-fluid bg-white mb-5">
	<div class="container-xxl p-3 p-md-5">
		{% include features.html %}
	</div>
</div>
<!--klanten-->
<a id="klanten"></a>
<div class="container-xxl px-sm-4">
	<div class="row p-3 p-md-5 align-items-center rounded-3 border bg-white shadow-lg">
	{% include klanten.html %}
	</div>
</div>

