<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Functionaliteiten</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
    {% for cust in site.data.features %}
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <svg width="2rem" height="2rem" class="bi" fill="currentColor">
          <use xlink:href="/assets/bootstrap-icons.svg#{{ cust.icon }}"></use>
        </svg>
      </div>
      <div>
        <h4 class="fw-bold mt-0 mb-1">{{ cust.title }}</h4>
        <p>{{ cust.text }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
