<li class="nav-item h5 mb-0"><a class="nav-link text-light" href="{{ '/' | relative_url }}#hoe">Hoe werkt het?</a></li>
<li class="nav-item h5 mb-0"><a class="nav-link text-light" href="{{ '/' | relative_url }}#functionaliteiten">Functionaliteiten</a></li>
<li class="nav-item h5 mb-0"><a class="nav-link text-light" href="{{ '/' | relative_url }}#klanten">Klanten</a></li>
<li class="nav-item h5 mb-0"><a class="nav-link text-light" href="{{ 'overons.html' | relative_url }}">Over ons</a></li>
<li class="nav-item h5 mb-0"><a class="nav-link text-light" href="#contact">Contact</a></li>
