
<!--contact-->
<div class="bg-light">
	<a id="contact"></a>
	<div class="container">
		<div class="row pt-5">
			<div class="col-12 col-md-7 col-lg-6">
				<h2>Neem contact met ons op</h2>
				<p>Wil je nog iets weten over DIP? We helpen je graag per e-mail of we bellen je wanneer jou het uitkomt.</p>
				<p class="pt-3">
					<a class="btn btn-primary" href="mailto:contact@digitalinsightsplatform.nl" role="button">contact@digitalinsightsplatform.nl</a>
				</p>

				<div class="d-flex flex-row align-bottom">
					<ul class="navbar nav flex-row pl-0 pt-4">
						<li class="navlink pe-4">
							<a href="{{ "/privacy.html" | relative_url }}"> <u>Privacy</u> </a>
						</li>
						<li class="navlink pe-4">
							<a href="{{ "/toegankelijkheid.html" | relative_url }}"> <u>Toegankelijkheid</u> </a>
						</li>
						<li class="navlink pe-4">
							<a href="{{ "overons.html" | relative_url }}"> <u>Over ons</u> </a>
						</li>
						<li class="navlink pe-4">
							<a href="https://twitter.com/DipUpdates">
								<img src="{{ "assets/twitter.png" class="img-fluid" width="30" height="30" alt="Twitter @DipUpdates">
							</a>
						</li>
						<li class="navlink">
							<a href="https://www.linkedin.com/company/digital-insights-platform">jo
								<img src="{{ "assets/linkedin.svg" | relative_url }}" class="img-fluid" width="30" height="30" alt="Linkedin DIP profile">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-5 col-lg-6">
				<picture>
					<source srcset="{{ "assets/contact.svg" | relative_url }}" type="image/svg">
					<img src="{{ "assets/contact.svg" | relative_url }}" alt="" class="img-fluid img-80">
				</picture>
			</div>
		</div>
	</div>
</div>
</body>
</html>