<!DOCTYPE html>
<html lang="nl">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--<meta http-equiv="Cache-control" content="public">-->
<meta name="Description" content="Digital Insights Platform">
<title>{% if page.title != "" %}{{ page.title }} | {% endif %}Digital Insights Platform</title>
<link href="{{ "/assets/main.css" | relative_url }}?{{ site.time | date_to_xmlschema }}" rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-G5QZ9SJVNP"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-G5QZ9SJVNP');
	</script>

	<!-- Matomo -->
	<script>
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="https://stats.insightsplatform.nl/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '1']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->
</head>

<body>

<!-- navbar met logo -->
<div class="bg-gradient">
<div class="container pb-5 mb-5">
<nav class="navbar navbar-dark navbar-expand-lg">
<span class="navbar-brand">
	<img class="img-fluid" src="{{ "/assets/dip-dia.svg" | relative_url }}" alt="Digital Insights Platform logo" height="62px">
</span>
<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse ml-auto" id="navbar">
<ul class="navbar-nav ml-auto">
{% include menu.html %}
</ul>
</div>
</nav>
</div>

<!-- Intro met cta -->
<header>
<div class="container jumbotron bg-transparent pt-5">
<div class="row mx-0">
<div class="col-lg">
<h1 class="bold text-light">Digital Insights<br>Platform</h1>
{{ content }}
<p class="text-light">
	<a class="dipknop font-weight-bold" href="{{ "/probeerdip.html" | relative_url }}" role="button">Probeer DIP nu gratis</a><br/><br/>
	<a class="text-light" href="{{ "/plan-demo.html" | relative_url }}">of plan een online demo</a>.
</p>

</div>

<div class="col-lg">
<img src="{{ "/assets/dashboard.png" | relative_url }}" class="img-fluid" alt="voorbeeld van DIP-scherm">
</div>
</div>
</div>
</header>
</div>

<!-- Hoe werkt het? -->
<main>
<div class="container pt-5">
<a id="hoe"></a><h2 class="text-center py-5">Zo werkt DIP</h2>
<div class="row featurette">
<div class="col-12 col-md-8">
<h3 class="font-weight-bold">1. Voeg alle websites van je organisatie toe en DIP gaat voor je aan de slag.</h3>
<p class="lead">Na het toevoegen van een URL start DIP een aantal automatische scans. De eerste resultaten rollen al in enkele seconden binnen, waardoor je weet hoe de website presteert.</p>
</div>
<div class="col-12 col-md-4">
<img src="{{ "/assets/step1.jpg" | relative_url }}" class="img-fluid" alt="monopoly-start">
</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
<div class="col-12 col-md-8">
<h3 class="font-weight-bold">2. Maak het beeld compleet. Jij hebt de kennis.</h3>
<p class="lead">Na de scans ben je zelf aan de beurt. Je vult in wat DIP nog niet weet, bijvoorbeeld:</p>
<ul class="lead">
<li>wat het doel van de site is</li>
<li>wie binnen je organisatie de eigenaar is</li>
<li>welke systemen jullie gebruiken en waar ze gehost worden</li>
<li>hoe de website aanbesteed is</li>
<li>wat de jaarlijkse kosten zijn</li>
<li>welke collega's of andere organisaties (leveranciers, ketenpartners) bij de site betrokken zijn</li>
</ul>
<p class="lead">Hoe completer het beeld, hoe beter jij je organisatie op tijd kunt adviseren.</p>
</div>
<div class="col-12 col-md-4">
<img src="{{ "/assets/step2.jpg" | relative_url }}" class="img-fluid" alt="vrouw met laptop">
</div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
<div class="col-12 col-md-8">
<h3 class="font-weight-bold">3. Werk aan de winkel! DIP weet waar.</h3>
<p class="lead">Het DIP-dashboard laat in één oogopslag zien wat jouw aandacht verdient.</p>
</div>
<div class="col-12 col-md-4">
<img src="{{ "/assets/step3.jpg" | relative_url }}" class="img-fluid" alt="legpuzzel">
</div>
</div>
</div>

<!-- Waarom DIP? -->


<div class="container pt-5">
<a id="wat"></a>
<h2 class="text-center py-5">Wat doet DIP voor jou?</h2>
<div class="row py-5">
<div class="col-12 col-md-6 pb-5 order-0">
<img class="img-fluid" src="{{ "/assets/digital-governance.png" | relative_url }}" alt="">
</div>
<div class="col-12 col-md-6 order-1">
<h3 class="font-weight-bold">Helpt jou bij jouw digital governance</h3>
<p>Met DIP breng je onder andere in kaart:</p>
<ul>
<li>Hoe groot je online landschap is; hoeveel websites, pagina’s</li>
<li>Wie waarvoor verantwoordelijk is</li>
<li>Wanneer contracttermijnen bij leveranciers verlopen</li>
<li>Wat websites op jaarbasis kosten</li>
</ul>
</div>
</div>
<div class="row py-5">
<!--<div class="d-block d-sm-none col-12 col-md-6 pb-5">
<img class="img-fluid" src="{{ "/assets/compliance.png" | relative_url }}" alt="">
</div>-->
<div class="col-12 col-md-6 order-1 order-md-0">
<h3 class="font-weight-bold">Maakt compliance inzichtelijk</h3>
<p>DIP maakt inzichtelijk in hoeverre je duidelijk hebt of al je websites voldoen aan wet- en regelgeving:</p>
<ul>
<li>Archivering</li>
<li>Toegankelijkheid</li>
<li>Privacy</li>
<li>Beveiliging</li>
</ul>
</div>
<div class="col-12 col-md-6 pb-5 order-0 order-md-1">
<img class="img-fluid" src="{{ "/assets/compliance.png" | relative_url }}" alt="">
</div>

</div>
<div class="row py-5">
<div class="col-12 col-md-6 pb-5">
<img class="img-fluid" src="{{ "/assets/hourglass.png" | relative_url }}" alt="">

</div>
<div class="col-12 col-md-6">
<h3 class="font-weight-bold">Bespaart je enorm veel tijd</h3>
<p>Het lukt niet altijd om structureel alle controles te doen die nodig zijn. De tijd ontbreekt simpelweg. DIP controleert automatisch en laat jou weten waar je aan de slag moet. Anticiperen en snel reageren in plaats van achter de feiten aanlopen.</p>
</div>
</div>
<hr class="featurette-divider">
</div>


<!-- Features -->
<div class="container justify-content-center pt-5">
<div class="row justify-content-md-center py-5">
<div class="col-12 col-md-6 col-lg-4">
<div class="container">
<div class="row bg-secondary rounded p-4">
<img src="{{ "/assets/pdfcount.png" | relative_url }}" class="img-fluid center" alt="telraam">
<h3 class="text-light">Hoeveel PDF’s heb je online? Valt het tegen?</h3>
</div>
<div class="row">
<p class="lead px-2 pt-4">DIP geeft je een actueel overzicht van het aantal pagina's en pdf-bestanden op een website.</p>
</div>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4">
<div class="container">
<div class="row bg-secondary rounded p-4">
<img src="{{ "/assets/owner.png" | relative_url }}" class="img-fluid center" alt="eigenaar-icoon">
<h3 class="text-light">Van wie is die ene website ook alweer?</h3>
</div>
<div class="row">
<p class="lead px-2 pt-4">Eigenaarschap leg je in DIP één keer vast om het vervolgens op ieder willekeurig moment terug te vinden. Je kunt ook zien hoeveel websites die ene eigenaar eigenlijk heeft!
</p>
</div>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4">
<div class="container">
<div class="row bg-secondary rounded p-4">
<img src="{{ "/assets/lock.png" | relative_url }}" class="img-fluid center" alt="slot">
<h3 class="text-light">Voorkom het “kapotte slot”</h3>
</div>
<div class="row">
<p class="lead px-2 pt-4">“Your connection to this site is not secure”. Wat vreselijk als een browser dat tegen je bezoekers moet zeggen. DIP laat je op tijd weten wanneer SSL-certificaten vernieuwd moeten worden.</p>
</div>
</div>
</div>
</div>
</div>
<div class="bg-dark">
<div class="container text-center py-5">
<p class="py-5">
	<a class="dipknop font-weight-bold" href="{{ "/probeerdip.html" | relative_url }}" role="button">Probeer DIP nu gratis</a><br/>
	<br/>
	<a class="text-light" href="{{ "/plan-demo.html" | relative_url }}">of plan een online demo</a>.
</p>
</div>
</div>



{% include klanten.html %}



<!-- Contact -->
<div class="bg-light">
<a id="contact"></a>
<div class="container">
<div class="row pt-5">
<div class="col-12 col-md-7 col-lg-6">
<h2>Neem contact met ons op</h2>
<p>Wil je nog iets weten over DIP? We helpen je graag per e-mail of we bellen je wanneer jou het uitkomt.</p>
<p class="pt-3"><a class="dipknop bg-white" href="mailto:contact@digitalinsightsplatform.nl" role="button">contact@digitalinsightsplatform.nl</a></p>

<div class="d-flex flex-row align-bottom">
<ul class="navbar nav flex-row pl-0 pt-4">
<li class="navlink pr-4"><a href="{{ "/privacy.html" | relative_url }}"><u>Privacy</u></a></li>
<li class="navlink pr-4"><a href="{{ "/toegankelijkheid.html" | relative_url }}"><u>Toegankelijkheid</u></a></li>
<li class="navlink pr-4"><a href="{{ "/overdip.html" | relative_url }}"><u>Over DIP</u></a></li>
<li class="navlink pr-4"><a href="https://twitter.com/DipUpdates"><img src="{{ "/assets/twitter.png" | relative_url }}" class="img-fluid" width="30" height="30" alt="Twitter @DipUpdates"></a></li>
<li class="navlink"><a href="https://www.linkedin.com/company/digital-insights-platform"><img src="{{ "/assets/linkedin.svg" | relative_url }}" class="img-fluid" width="30" height="30" alt="Linkedin DIP profile"></a></li>
</ul>
</div>
</div>
<div class="col-12 col-md-5 col-lg-6">
<picture>
	<source srcset="{{ "/assets/contact.svg" | relative_url }}" alt="" type="image/svg">
	<img src="{{ "/assets/contact.svg" | relative_url }}" alt="" class="img-fluid">
</picture>



</div>
</div>
</div>

</div>
</div>
</main>


<!-- Bootstrap core JavaScript/css
================================================== -->
<!-- Placed at the end of the document so the pages load faster-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:300,700&display=swap" rel="stylesheet">
</body>
</html>
