<!DOCTYPE html>
<html lang="nl">

<head>
<meta charset="UTF-8">
<title>{{ page.title }} | Digital Insights Platform</title>
<base href="{{ "/" | relative_url }}">
<link href="/assets/help.css?{{ site.time | date_to_xmlschema }}" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149870600-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
window.ga && ga('set', 'anonymizeIp', true);
gtag('config', 'UA-149870600-2');
</script>
</head>

<body>
<a class="navbar-brand" href="/index.html"><img class="img-fluid" src="/assets/dip-dia.svg" alt="Digital Insights Platform logo" height="62px"></a>
<div class="main">

{{ content }}

</div>
</body>
</html>
